{% extends "base.html" %} <!-- Herencia de estilos -->

{% block title %}Remove Card{% endblock %}

{% block content %}
    <h1>Flash Card</h1>
    Question: {{ card.question }} <br/>
    Answer: {{ card.answer }}
        <p>
            <a href="{{ url_for('welcome') }}"> 
                <!-- url_for podemos construir URL estaticas, cuando cambie mi configuracion y quiera alojar -->
                <!-- mis archivos esaticos de una manera que no sea desde la carpeta estatica no tendremos que cambiar nuestas plantillas -->
                Home
            </a>
            <button>
            {% if index < max_index %}
                <a href="{{ url_for('card_view', index=index + 1) }}" > 
                    Next card
                </a>
            {% else %}
                <a href="{{ url_for('card_view', index=0) }}">
                    Start over
                </a>
            {% endif %}
            </button>
        </p>
        <p>
            <a href="{{ url_for('remove_card', index=index) }}"> Remove this card </a>
        </p>
{% endblock %}